# 0. Imports

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
from datetime import datetime

# 1. Load Dataframe

In [2]:
data = pd.read_csv('datasets/kc_house_data.csv')

In [3]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [4]:
data.shape

(21613, 21)

In [5]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [6]:
data.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

# TransformaÃ§Ã£o da data

In [7]:
data['date'].head()

0    20141013T000000
1    20141209T000000
2    20150225T000000
3    20141209T000000
4    20150218T000000
Name: date, dtype: object

In [17]:
# Converitng data from object to date
data['date'] = pd.to_datetime(data['date']).dt.date

In [18]:
data['date'].head()

0    2014-10-13
1    2014-12-09
2    2015-02-25
3    2014-12-09
4    2015-02-18
Name: date, dtype: object

In [19]:
data['date'][0]

datetime.date(2014, 10, 13)

In [20]:
min_date = data['date'].min()

In [21]:
max_date = data['date'].max()

In [22]:
type(min_date)

datetime.date

In [23]:
type(data['date'][0])

datetime.date

In [24]:
data['date'][0] > min_date

True

# 2. Filters

In [ ]:
price_limit = data['price'].mean()
bedrooms_values = data['bedrooms'].unique()

In [ ]:
bedrooms_values

In [ ]:
type(bedrooms_values)

In [ ]:
bedrooms_filter = [0, 3, 1]

In [ ]:
bedrooms_values[bedrooms_filter]

In [ ]:
bedrooms_values[bedrooms_filter].tolist()

In [ ]:
data[data['bedrooms'].isin(bedrooms_values[bedrooms_filter].tolist())][['id','bedrooms']]

In [ ]:
data[(data['price'] <= price_limit) & (data['bedrooms'].isin(bedrooms_values[bedrooms_filter].tolist()))][['id', 'lat', 'long', 'price', 'bedrooms']]