# 0. Import

In [44]:
import pandas as pd 
import numpy as np

In [3]:
data = pd.read_csv('datasets/kc_house_data.csv')

In [11]:
data.shape

(21613, 21)

In [4]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

# 1. Novas perguntas do CEO

1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casas possuem?
3. Quais os atributos das casas?
4. Qual a casa mais cara (casa com o maior valor de venda)?
5. Qual a casa com maior número de quartos?
6. Qual a soma total de quartos do conjunto de dados?
7. Quantas casas possuem 2 banheiros?
8. Qual o preço médio de todas as casas no conjunto de dados?
9. Qual o preço médio de casas com 2 banheiros?
10. Qual o preço mínimo entre as casas com 3 quartos?
11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?
12. Quantas casas tem mais de 2 andares?
13. Quantas casas tem vista para o mar?
14. Das casas com vista para o mar, quantas tem 3 quartos?
15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

## 1. Quantas casas estão disponíveis para compra?

In [18]:
# Contar os ids únicos
houses = len(data['id'].unique())
print('O número de casas disponíveis é de {}'.format(houses))

O número de casas disponíveis é de 21436

In [17]:
# outra maneira de fazer
len(data['id'].drop_duplicates())

21436

## 2. Quantos atributos as casas possuem?

In [19]:
data.columns.tolist()

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [20]:
len(data.columns)

21

Nem todas as variáveis são atributos da casa, por exemplo, id e date. Assim, podemos excluir estas variáveis da nossa contagem de atributos

In [21]:
len(data.drop(['id', 'date'], axis = 1).columns)

19

Neste caso, teríamos 19 atributos.

## 3. Quais os atributos das casas?

In [22]:
data.drop(['id', 'date'], axis = 1).columnsx

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

## 4. Qual a casa mais cara (casa com o maior valor de venda)?

In [25]:
data[['id', 'price']].sort_values('price', ascending = False)

               id      price
7252   6762700020  7700000.0
3914   9808700762  7062500.0
9254   9208900037  6885000.0
4411   2470100110  5570000.0
1448   8907500070  5350000.0
...           ...        ...
8274   3883800011    82000.0
16198  3028200080    81000.0
465    8658300340    80000.0
15293    40000362    78000.0
1149   3421079032    75000.0

[21613 rows x 2 columns]

In [27]:
data[['id', 'price']].sort_values('price', ascending = False).reset_index(drop = True).loc[0, 'id']

6762700020

## 5. Qual a casa com maior número de quartos?

In [28]:
data[['id', 'bedrooms']].sort_values('bedrooms', ascending = False)

               id  bedrooms
15870  2402100895        33
8757   1773100755        11
15161  5566100170        10
13314   627300145        10
19254  8812401450        10
...           ...       ...
19452  3980300371         0
8484   2310060040         0
875    6306400140         0
8477   2569500210         0
9773   3374500520         0

[21613 rows x 2 columns]

In [29]:
data[['id', 'bedrooms']].sort_values('bedrooms', ascending = False).reset_index(drop = True).loc[0, 'id']

2402100895

## 6. Qual a soma total de quartos do conjunto de dados?

In [30]:
data['bedrooms'].sum()

72854

## 7. Quantas casas possuem 2 banheiros?

- Selecionar as colunas 'id' e 'bathroom'
- Filtrar somente 'id' cuja coluna bathroom é igual a 2

In [35]:
data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']]

               id  bathrooms
4      1954400510        2.0
14     1175000570        2.0
16     1875500060        2.0
25     1202000200        2.0
37     2768000400        2.0
...           ...        ...
21531  5637500082        2.0
21547  3277800823        2.0
21550   880000205        2.0
21556   476000017        2.0
21604  9834201367        2.0

[1930 rows x 2 columns]

In [39]:
dois_banheiros = data.loc[data['bathrooms'] == 2, ['id', 'bathrooms']].shape[0]

In [40]:
print('O número de casas que possuem dois banheiros é de {}'.format(dois_banheiros))

O número de casas que possuem dois banheiros é de 1930

## 8. Qual o preço médio de todas as casas no conjunto de dados?

In [45]:
np.round(data['price'].mean(), 2)

540088.14

## 9. Qual o preço médio de casas com 2 banheiros?

In [50]:
np.round(data.loc[data['bathrooms'] == 2, 'price'].mean(), 2)

457889.72

## 10. Qual o preço mínimo entre as casas com 3 quartos?

In [54]:
data.loc[data['bedrooms'] == 3, 'price'].min()

82000.0

- Outra maneira de fazer:

In [55]:
data.loc[data['bedrooms'] == 3, ['id', 'price']].sort_values('price')

               id      price
8274   3883800011    82000.0
13756  1788900230    86500.0
5866   9320900420    89000.0
18939  4239400300    90000.0
5723   1788800630    96500.0
...           ...        ...
11535  8964800890  3200000.0
18199  3625059152  3300000.0
7989   9362000040  3400000.0
2864   4114601570  3600000.0
19017  2303900100  3800000.0

[9824 rows x 2 columns]

## 11. Quantas casas possuem mais de 300 metros quadrados na sala de estar?

In [67]:
len(data.loc[data['sqft_living'] > 300, 'id']) # Isto está em pé quadrados

21612

- Fazendo a conversão de pé quadrado para $m^2$:

In [64]:
data['m2'] = data['sqft_living'] * 0.093

In [66]:
len(data.loc[data['m2'] > 300, 'id'])

2258

## 12. Quantas casas tem mais de 2 andares?

In [75]:
data.loc[data['floors'] > 2, ['id', 'floors']]

               id  floors
31     2426039314     3.0
63     9528102996     3.0
116    3362400431     3.0
134    2767602356     3.0
139    2767603505     3.0
...           ...     ...
21592  1931300412     3.0
21595  1972201967     3.0
21601  5100403806     3.0
21604  9834201367     3.0
21608   263000018     3.0

[782 rows x 2 columns]

In [76]:
len(data.loc[data['floors'] > 2, 'id'])

782

## 13. Quantas casas tem vista para o mar?

In [79]:
len(data.loc[data['waterfront'] == 1, 'id'])

163

In [69]:
data.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'm2'],
      dtype='object')

## 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [81]:
len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3), 'id'])

64

## 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [83]:
len(data.loc[(data['m2'] > 300) & (data['bathrooms'] > 2), 'id'])

2201