# Default and flexible arguments

## Add a default argument

In [1]:
def power(number, pow=1):
    """Raise to the power of pow."""
    new_value = number ** pow
    return new_value

In [2]:
power(2) # use the default pow = 1

2

In [3]:
power(2, 2)

4

## Flexible arguments: *args(1)

In [5]:
def add_all(*args):
    """Sum all values in *args together."""
    
    # Initialize sum
    sum_all = 0
    
    # Accumulate the sum
    for num in args:
        sum_all += num
        
    return sum_all

In [6]:
add_all(1)

1

In [8]:
add_all(1, 3)

4

In [9]:
add_all(5, 10, 15, 20)

50

## Flexible arguments: **kwargs

- We have to identify the argument.

In [10]:
def print_all(**kwargs):
    """Print out key-value pairs in **kwargs."""
    
    # Print out the key-value pairs
    for key, value in kwargs.items():
        print(key + " : " + value)

In [13]:
print_all(name="dumbledore", job="headmaster", movie="Harry Potter")

name : dumbledore
job : headmaster
movie : Harry Potter

# Exercises

> ## 1. Functions with one default argument

In the previous chapter, you've learned to define functions with more than one parameter and then calling those functions by passing the required number of arguments. In the last video, Hugo built on this idea by showing you how to define functions with default arguments. You will practice that skill in this exercise by writing a function that uses a default argument and then calling the function a couple of times.

- Complete the function header with the function name shout_echo. It accepts an argument word1 and a default argument echo with default value 1, in that order.
- Use the * operator to concatenate echo copies of word1. Assign the result to echo_word.
- Call shout_echo() with just the string, "Hey". Assign the result to no_echo.
- Call shout_echo() with the string "Hey" and the value 5 for the default argument, echo. Assign the result to with_echo.

In [15]:
# Define shout_echo
def shout_echo(word1, echo = 1):
    """Concatenate echo copies of word1 and three
     exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = echo * word1
 
    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo() with "Hey": no_echo
no_echo = shout_echo("Hey")

# Call shout_echo() with "Hey" and echo=5: with_echo
with_echo = shout_echo("Hey ", echo = 5)

# Print no_echo and with_echo
print(no_echo)
print(with_echo)

Hey!!!
Hey Hey Hey Hey Hey !!!

> ## 2. Functions with multiple default arguments

You've now defined a function that uses a default argument - don't stop there just yet! You will now try your hand at defining a function with more than one default argument and then calling this function in various ways.

After defining the function, you will call it by supplying values to all the default arguments of the function. Additionally, you will call the function by not passing a value to one of the default arguments - see how that changes the output of your function!

- Complete the function header with the function name shout_echo. It accepts an argument word1, a default argument echo with default value 1 and a default argument intense with default value False, in that order.
- In the body of the if statement, make the string object echo_word upper case by applying the method .upper() on it.
- Call shout_echo() with the string, "Hey", the value 5 for echo and the value True for intense. Assign the result to with_big_echo.
- Call shout_echo() with the string "Hey" and the value True for intense. Assign the result to big_no_echo.

In [16]:
# Define shout_echo
def shout_echo(word1, echo = 1, intense = False):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Make echo_word uppercase if intense is True
    if intense is True:
        # Make uppercase and concatenate '!!!': echo_word_new
        echo_word_new = echo_word.upper() + '!!!'
    else:
        # Concatenate '!!!' to echo_word: echo_word_new
        echo_word_new = echo_word + '!!!'

    # Return echo_word_new
    return echo_word_new

# Call shout_echo() with "Hey", echo=5 and intense=True: with_big_echo
with_big_echo = shout_echo("Hey", echo=5, intense=True)

# Call shout_echo() with "Hey" and intense=True: big_no_echo
big_no_echo = shout_echo("Hey", intense=True)

# Print values
print(with_big_echo)
print(big_no_echo)

HEYHEYHEYHEYHEY!!!
HEY!!!

> ## 3. Functions with variable-length arguments (*args)

Flexible arguments enable you to pass a variable number of arguments to a function. In this exercise, you will practice defining a function that accepts a variable number of string arguments.

The function you will define is gibberish() which can accept a variable number of string values. Its return value is a single string composed of all the string arguments concatenated together in the order they were passed to the function call. You will call the function with a single string argument and see how the output changes with another call using more than one string argument. Recall from the previous video that, within the function definition, args is a tuple.

- Complete the function header with the function name gibberish. It accepts a single flexible argument *args.
- Initialize a variable hodgepodge to an empty string.
- Return the variable hodgepodge at the end of the function body.
- Call gibberish() with the single string, "luke". Assign the result to one_word.
- Hit the Submit button to call gibberish() with multiple arguments and to print the value to the Shell.

In [18]:
# Define gibberish
def gibberish(*args):
    """Concatenate strings in *args together."""

    # Initialize an empty string: hodgepodge
    hodgepodge = ""

    # Concatenate the strings in args
    for word in args:
        hodgepodge += word

    # Return hodgepodge
    return hodgepodge

# Call gibberish() with one string: one_word
one_word = gibberish("luke")

# Call gibberish() with five strings: many_words
many_words = gibberish("luke", "leia", "han", "obi", "darth")

# Print one_word and many_words
print(one_word)
print(many_words)

luke
lukeleiahanobidarth

> ## 4. Functions with variable-length keyword arguments (**kwargs)

Let's push further on what you've learned about flexible arguments - you've used *args, you're now going to use ***kwargs. What makes \*\*kwargs different is that it allows you to pass a variable number of keyword arguments to functions. Recall from the previous video that, within the function definition, kwargs is a dictionary.

To understand this idea better, you're going to use \*\*kwargs in this exercise to define a function that accepts a variable number of keyword arguments. The function simulates a simple status report system that prints out the status of a character in a movie.

- Complete the function header with the function name report_status. It accepts a single flexible argument \*\*kwargs.
- Iterate over the key-value pairs of kwargs to print out the keys and values, separated by a colon ':'.
- In the first call to report_status(), pass the following keyword-value pairs: name="luke", affiliation="jedi" and status="missing".
- In the second call to report_status(), pass the following keyword-value pairs: name="anakin", affiliation="sith lord" and status="deceased".

In [20]:
# Define report_status
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")

    # Iterate over the key-value pairs of kwargs
    for key, value in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(key + ": " + value)

    print("\nEND REPORT")

# First call to report_status()
report_status(name="luke", affiliation="jedi", status="missing")

# Second call to report_status()
report_status(name="anakin", affiliation="sith lord", status="deceased")

BEGIN: REPORT

name: luke
affiliation: jedi
status: missing

END REPORT

BEGIN: REPORT

name: anakin
affiliation: sith lord
status: deceased

END REPORT

# Bringing it all together

> # ðŸ’» Bringing it all together (1)

Recall the Bringing it all together exercise in the previous chapter where you did a simple Twitter analysis by developing a function that counts how many tweets are in certain languages. The output of your function was a dictionary that had the language as the keys and the counts of tweets in that language as the value.

In this exercise, we will generalize the Twitter language analysis that you did in the previous chapter. You will do that by including a default argument that takes a column name.

For your convenience, pandas has been imported as pd and the 'tweets.csv' file has been imported into the DataFrame tweets_df. Parts of the code from your previous work are also provided.

- Complete the function header by supplying the parameter for a DataFrame `df` and the parameter `col_name` with a default value of 'lang' for the DataFrame column name.
- Call `count_entries()` by passing the `tweets_df` DataFrame and the column name `'lang'`. Assign the result to `result1`. Note that since `'lang'` is the default value of the `col_name` parameter, you don't have to specify it here.
- Call `count_entries()` by passing the `tweets_df` DataFrame and the column name `'source'`. Assign the result to `result2`.

In [6]:
# Importing course packages; you can add more too!
import pandas as pd
from functools import reduce

# Importing course datasets as DataFrames
tweets_df = pd.read_csv('datasets/tweets.csv')

In [7]:
tweets_df.head(3)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"""{'hashtags': [], 'user_mentions': [{'screen_n...","""{'media': [{'sizes': {'large': {'w': 1024, 'h...",0,False,low,NaN,714960401759387600,...,NaN,NaN,0,False,"""{'retweeted': False, 'text': \"".@krollbondrat...","<a href=\http://twitter.com\"" rel=\""nofollow\""...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"""{'utc_offset': 3600, 'profile_image_url_https..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"""{'hashtags': [{'text': 'cruzsexscandal', 'ind...","""{'media': [{'sizes': {'large': {'w': 500, 'h'...",0,False,low,NaN,714960401977319400,...,NaN,NaN,0,False,"""{'retweeted': False, 'text': '@dmartosko Cruz...","<a href=\http://twitter.com\"" rel=\""nofollow\""...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"""{'utc_offset': None, 'profile_image_url_https..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"""{'hashtags': [], 'user_mentions': [], 'symbol...",NaN,0,False,low,NaN,714960402426236900,...,NaN,NaN,0,False,NaN,"<a href=\http://www.facebook.com/twitter\"" rel...",Njihuni me ZonjÃ«n Trump !!! | Ekskluzive https...,1459294817917,False,"""{'utc_offset': 7200, 'profile_image_url_https..."

In [8]:
tweets_df.columns.tolist()

['contributors',
 'coordinates',
 'created_at',
 'entities',
 'extended_entities',
 'favorite_count',
 'favorited',
 'filter_level',
 'geo',
 'id',
 'id_str',
 'in_reply_to_screen_name',
 'in_reply_to_status_id',
 'in_reply_to_status_id_str',
 'in_reply_to_user_id',
 'in_reply_to_user_id_str',
 'is_quote_status',
 'lang',
 'place',
 'possibly_sensitive',
 'quoted_status',
 'quoted_status_id',
 'quoted_status_id_str',
 'retweet_count',
 'retweeted',
 'retweeted_status',
 'source',
 'text',
 'timestamp_ms',
 'truncated',
 'user']

In [9]:
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1

        # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df)

# Call count_entries(): result2
result2 = count_entries(tweets_df, col_name='source')

# Print result1 and result2
print(result1)
print(result2)

{'en': 97, 'et': 1, 'und': 2}
{'<a href=\\http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>"': 24, '<a href=\\http://www.facebook.com/twitter\\" rel=\\"nofollow\\">Facebook</a>"': 1, '<a href=\\http://twitter.com/download/android\\" rel=\\"nofollow\\">Twitter for Android</a>"': 26, '<a href=\\http://twitter.com/download/iphone\\" rel=\\"nofollow\\">Twitter for iPhone</a>"': 33, '<a href=\\http://www.twitter.com\\" rel=\\"nofollow\\">Twitter for BlackBerry</a>"': 2, '<a href=\\http://www.google.com/\\" rel=\\"nofollow\\">Google</a>"': 2, '<a href=\\http://twitter.com/#!/download/ipad\\" rel=\\"nofollow\\">Twitter for iPad</a>"': 6, '<a href=\\http://linkis.com\\" rel=\\"nofollow\\">Linkis.com</a>"': 2, '<a href=\\http://rutracker.org/forum/viewforum.php?f=93\\" rel=\\"nofollow\\">newzlasz</a>"': 2, '<a href=\\http://ifttt.com\\" rel=\\"nofollow\\">IFTTT</a>"': 1, '<a href=\\http://www.myplume.com/\\" rel=\\"nofollow\\">Plume\xa0for\xa0Android</a>"': 1}

> # ðŸ’» Bringing it all together (2)

Wow, you've just generalized your Twitter language analysis that you did in the previous chapter to include a default argument for the column name. You're now going to generalize this function one step further by allowing the user to pass it a flexible argument, that is, in this case, as many column names as the user would like!

Once again, for your convenience, pandas has been imported as pd and the 'tweets.csv' file has been imported into the DataFrame `tweets_df`. Parts of the code from your previous work are also provided.

- Complete the function header by supplying the parameter for the DataFrame `df` and the flexible argument `\*args`.
- Complete the for loop within the function definition so that the loop occurs over the tuple args.
- Call `count_entries()` by passing the `tweets_df` DataFrame and the column name `'lang'`. Assign the result to `result1`.
- Call `count_entries()` by passing the `tweets_df` DataFrame and the column names 'lang' and 'source'. Assign the result to `result2`.

In [12]:
# Define count_entries()
def count_entries(df, *args):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    #Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Iterate over column names in args
    for col_name in args:
    
        # Extract column from DataFrame: col
        col = df[col_name]
    
        # Iterate over the column in DataFrame
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
    
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1

    # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Call count_entries(): result2
result2 = count_entries(tweets_df, 'lang', 'source')

# Print result1 and result2
print(result1)
print(result2)

{'en': 97, 'et': 1, 'und': 2}
{'en': 97, 'et': 1, 'und': 2, '<a href=\\http://twitter.com\\" rel=\\"nofollow\\">Twitter Web Client</a>"': 24, '<a href=\\http://www.facebook.com/twitter\\" rel=\\"nofollow\\">Facebook</a>"': 1, '<a href=\\http://twitter.com/download/android\\" rel=\\"nofollow\\">Twitter for Android</a>"': 26, '<a href=\\http://twitter.com/download/iphone\\" rel=\\"nofollow\\">Twitter for iPhone</a>"': 33, '<a href=\\http://www.twitter.com\\" rel=\\"nofollow\\">Twitter for BlackBerry</a>"': 2, '<a href=\\http://www.google.com/\\" rel=\\"nofollow\\">Google</a>"': 2, '<a href=\\http://twitter.com/#!/download/ipad\\" rel=\\"nofollow\\">Twitter for iPad</a>"': 6, '<a href=\\http://linkis.com\\" rel=\\"nofollow\\">Linkis.com</a>"': 2, '<a href=\\http://rutracker.org/forum/viewforum.php?f=93\\" rel=\\"nofollow\\">newzlasz</a>"': 2, '<a href=\\http://ifttt.com\\" rel=\\"nofollow\\">IFTTT</a>"': 1, '<a href=\\http://www.myplume.com/\\" rel=\\"nofollow\\">Plume\xa0for\xa0Android</a>"': 1}